# Data Analysis based on the results of the PISA 2012

### Introduction to PISA

#### What Is PISA? 

The Program for International Student Assessment (PISA) is a system of international assessments that allows countries to compare outcomes of learning as students near the end of compulsory schooling. PISA is a unique global survey that examines how well prepared 15 year old students are for life after they have completed school. Approximately a half million students and 65 economies participated in this assessment that deals with reading, math, and science literacy.

### Introduction to the PISA 2012 dataset

PISA is a survey of students' skills and knowledge as they approach the end of compulsory education. It is not a conventional school test. Rather than examining how well students have learned the school curriculum, it looks at how well prepared they are for life beyond school.

Around 510,000 students in 65 economies took part in the PISA 2012 assessment of reading, mathematics and science representing about 28 million 15-year-olds globally. Of those economies, 44 took part in an assessment of creative problem solving and 18 in an assessment of financial literacy. 

***

##  Part 1: Data Wrangling

Since the dataset provided has _636_ variables (according to its specified data dictionary), we will begin our exploration by wrangling the data accordingly, in order to better understand which variables might be worth delving into.

In [1]:
# for Data Processing and Reading the Dataset
import numpy as np
import pandas as pd

# for any warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
chunksize = 50000

tp = pd.read_csv(
    'pisa2012.csv',
    encoding='latin1',
    index_col=0,
    dtype={15: str, 16: str, 17: str, 21: str, 22: str, 23: str, 24: str, 25: str, 26: str, 37: str,
           45: str, 65: str, 123: str, 156: str, 157: str, 158: str, 159: str, 160: str, 161: str,
           162: str, 163: str, 164: str, 165: str, 166: str, 167: str, 168: str, 169: str, 170: str,
           171: str, 284: str, 285: str, 286: str, 287: str, 288: str, 289: str, 290: str, 291: str,
           292: str, 293: str, 294: str, 295: str, 296: str, 297: str, 298: str, 299: str, 300: str,
           301: str, 302: str, 303: str, 307: str, 308: str, 309: str, 310: str, 311: str, 312: str,
           313: str, 314: str, 315: str, 316: str, 317: str, 318: str, 319: str, 320: str, 321: str,
           322: str, 323: str, 324: str, 325: str, 326: str, 327: str, 328: str, 329: str, 330: str,
           331: str, 332: str, 333: str, 334: str, 335: str, 336: str, 337: str, 338: str, 339: str,
           340: str, 341: str, 342: str, 343: str, 344: str, 345: str, 346: str, 347: str, 348: str,
           349: str, 350: str, 351: str, 352: str, 353: str, 354: str, 355: str, 356: str, 357: str,
           376: str, 377: str, 378: str, 379: str, 380: str, 381: str, 382: str, 383: str, 384: str,
           385: str, 386: str, 387: str, 388: str, 389: str, 390: str, 391: str, 392: str, 393: str,
           394: str, 395: str, 396: str, 397: str, 398: str, 399: str, 400: str, 401: str, 402: str,
           403: str, 475: str, 30: str, 31: str, 36: str, 155: str},
    iterator=True,
    chunksize=chunksize
)

df_list = []

for df in tp:
    df = df[['NC', 'AGE',
             'ST04Q01', 'ST26Q02', 'ST26Q03', 'ST26Q04', 'ST26Q05', 'ST26Q06', 
             'ST26Q07', 'ST26Q08', 'ST26Q09', 'ST26Q10', 'ST26Q11', 'ST26Q12', 
             'PV1MATH','PV2MATH','PV3MATH', 'PV4MATH','PV5MATH', 'PV1READ','PV2READ',
             'PV3READ','PV4READ','PV5READ', 'PV1SCIE','PV2SCIE','PV3SCIE','PV4SCIE',
             'PV5SCIE','COBN_F','COBN_M', 'ST15Q01', 'ST19Q01']]
    
    df_list.append(df)
    
df_student = pd.concat(df_list)

In [3]:
df_student.info()
df_student.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 485490 entries, 1 to 485490
Data columns (total 33 columns):
NC         485490 non-null object
AGE        485374 non-null float64
ST04Q01    485490 non-null object
ST26Q02    469693 non-null object
ST26Q03    472020 non-null object
ST26Q04    473877 non-null object
ST26Q05    463178 non-null object
ST26Q06    473182 non-null object
ST26Q07    465860 non-null object
ST26Q08    467094 non-null object
ST26Q09    467249 non-null object
ST26Q10    471242 non-null object
ST26Q11    463566 non-null object
ST26Q12    474039 non-null object
PV1MATH    485490 non-null float64
PV2MATH    485490 non-null float64
PV3MATH    485490 non-null float64
PV4MATH    485490 non-null float64
PV5MATH    485490 non-null float64
PV1READ    485490 non-null float64
PV2READ    485490 non-null float64
PV3READ    485490 non-null float64
PV4READ    485490 non-null float64
PV5READ    485490 non-null float64
PV1SCIE    485490 non-null float64
PV2SCIE    485490 non-null float64
PV3SCIE    485490 non-null float64
PV4SCIE    485490 non-null float64
PV5SCIE    485490 non-null float64
COBN_F     481825 non-null object
COBN_M     481843 non-null object
ST15Q01    467751 non-null object
ST19Q01    451410 non-null object
dtypes: float64(16), object(17)
memory usage: 125.9+ MB

,NC,AGE,ST04Q01,ST26Q02,ST26Q03,ST26Q04,ST26Q05,ST26Q06,ST26Q07,ST26Q08,...,PV5READ,PV1SCIE,PV2SCIE,PV3SCIE,PV4SCIE,PV5SCIE,COBN_F,COBN_M,ST15Q01,ST19Q01
1,Albania,16.17,Female,No,Yes,No,No,No,No,Yes,...,218.5981,341.7009,408.8400,348.2283,367.8105,392.9877,Albania,Albania,"Other (e.g. home duties, retired)",Working part-time <for pay>
2,Albania,16.17,Female,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,396.7618,548.9929,471.5964,471.5964,443.6218,454.8116,Albania,Albania,Working full-time <for pay>,Working full-time <for pay>
3,Albania,15.58,Female,Yes,Yes,Yes,No,Yes,Yes,Yes,...,401.2100,499.6643,428.7952,492.2044,512.7191,499.6643,Albania,Albania,Working full-time <for pay>,Working full-time <for pay>
4,Albania,15.67,Female,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,471.9036,438.6796,481.5740,448.9370,474.1141,426.5573,Albania,Albania,Working full-time <for pay>,Working full-time <for pay>
5,Albania,15.50,Female,Yes,No,Yes,Yes,Yes,Yes,Yes,...,260.1405,361.5628,275.7740,372.7527,403.5248,422.1746,Albania,Albania,Working part-time <for pay>,Working part-time <for pay>

Before we begin visualizing the data, further wrangling needs to be done in order to ensure clarily of information when working with the dataset.

In [4]:
df_student.duplicated().any()

False

Correctly categorize countries under Country: 
- Replace values of _'Florida (USA)'_,_'Massachusetts (USA)'_, and _'Connecticut (USA)'_ with _'United States of America'_
- Replace values of _'China (Shanghai)'_,_'China-Macau'_, _'Hong Kong-China_ and _'Macao-China'_ with _'China'_
- Replace values of _'Chinese Taipei'_ with _'Taiwan'_
- Replace values of _'Republic of Serbia'_ with _'Serbia'_
- Replace values of _'Perm (Russian Federation)'_ with _'Russia'_

In [5]:
df_student['NC'][df_student['NC']=='Republic of Serbia'] = 'Serbia'
df_student['NC'][df_student['NC']=='Slovak Republic'] = 'Slovakia'
df_student['NC'][df_student['NC']=='Chinese Taipei '] = 'Taiwan'
df_student['NC'][df_student['NC']=='Perm (Russian Federation)'] = 'Russia'
df_student['NC'][df_student['NC']=='Hong Kong-China'] = 'China'
df_student['NC'][df_student['NC']=='China (Shanghai) '] = 'China'
df_student['NC'][df_student['NC']=='China-Macau'] = 'China'
df_student['NC'][df_student['NC']=='Macao-China'] = 'China'
df_student['NC'][df_student['NC']=='Connecticut (USA)'] = 'United States of America'
df_student['NC'][df_student['NC']=='Florida (USA)'] = 'United States of America'
df_student['NC'][df_student['NC']=='Massachusetts (USA)'] = 'United States of America'
df_student['NC'][df_student['NC']=='Viet Nam '] = 'Vietnam'

In [6]:
df_student = df_student.rename(columns={'NC':'Country', 'ST04Q01':'Gender', 'AGE':'Age'});
df_student.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 485490 entries, 1 to 485490
Data columns (total 33 columns):
Country    485490 non-null object
Age        485374 non-null float64
Gender     485490 non-null object
ST26Q02    469693 non-null object
ST26Q03    472020 non-null object
ST26Q04    473877 non-null object
ST26Q05    463178 non-null object
ST26Q06    473182 non-null object
ST26Q07    465860 non-null object
ST26Q08    467094 non-null object
ST26Q09    467249 non-null object
ST26Q10    471242 non-null object
ST26Q11    463566 non-null object
ST26Q12    474039 non-null object
PV1MATH    485490 non-null float64
PV2MATH    485490 non-null float64
PV3MATH    485490 non-null float64
PV4MATH    485490 non-null float64
PV5MATH    485490 non-null float64
PV1READ    485490 non-null float64
PV2READ    485490 non-null float64
PV3READ    485490 non-null float64
PV4READ    485490 non-null float64
PV5READ    485490 non-null float64
PV1SCIE    485490 non-null float64
PV2SCIE    485490 non-null float64
PV3SCIE    485490 non-null float64
PV4SCIE    485490 non-null float64
PV5SCIE    485490 non-null float64
COBN_F     481825 non-null object
COBN_M     481843 non-null object
ST15Q01    467751 non-null object
ST19Q01    451410 non-null object
dtypes: float64(16), object(17)
memory usage: 125.9+ MB

In [7]:
# Replace NaN age values with the mean age of students in the dataset
df_student.loc[np.isfinite(df_student['Age']) == False, 'Age'] = df_student['Age'].mean()
df_student.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 485490 entries, 1 to 485490
Data columns (total 33 columns):
Country    485490 non-null object
Age        485490 non-null float64
Gender     485490 non-null object
ST26Q02    469693 non-null object
ST26Q03    472020 non-null object
ST26Q04    473877 non-null object
ST26Q05    463178 non-null object
ST26Q06    473182 non-null object
ST26Q07    465860 non-null object
ST26Q08    467094 non-null object
ST26Q09    467249 non-null object
ST26Q10    471242 non-null object
ST26Q11    463566 non-null object
ST26Q12    474039 non-null object
PV1MATH    485490 non-null float64
PV2MATH    485490 non-null float64
PV3MATH    485490 non-null float64
PV4MATH    485490 non-null float64
PV5MATH    485490 non-null float64
PV1READ    485490 non-null float64
PV2READ    485490 non-null float64
PV3READ    485490 non-null float64
PV4READ    485490 non-null float64
PV5READ    485490 non-null float64
PV1SCIE    485490 non-null float64
PV2SCIE    485490 non-null float64
PV3SCIE    485490 non-null float64
PV4SCIE    485490 non-null float64
PV5SCIE    485490 non-null float64
COBN_F     481825 non-null object
COBN_M     481843 non-null object
ST15Q01    467751 non-null object
ST19Q01    451410 non-null object
dtypes: float64(16), object(17)
memory usage: 125.9+ MB

In [8]:
# Replace NaN or 'Invalid' values for father/mother birth country to 'Missing', 
# which is already being used to represent missing information

df_student.loc[df_student['ST26Q02'].isna() == True, 'ST26Q02'] = 'Missing'
df_student.loc[df_student['ST26Q03'].isna() == True, 'ST26Q03'] = 'Missing'
df_student.loc[df_student['ST26Q04'].isna() == True, 'ST26Q04'] = 'Missing'
df_student.loc[df_student['ST26Q05'].isna() == True, 'ST26Q05'] = 'Missing'
df_student.loc[df_student['ST26Q06'].isna() == True, 'ST26Q06'] = 'Missing'
df_student.loc[df_student['ST26Q07'].isna() == True, 'ST26Q07'] = 'Missing'
df_student.loc[df_student['ST26Q08'].isna() == True, 'ST26Q08'] = 'Missing'
df_student.loc[df_student['ST26Q09'].isna() == True, 'ST26Q09'] = 'Missing'
df_student.loc[df_student['ST26Q10'].isna() == True, 'ST26Q10'] = 'Missing'
df_student.loc[df_student['ST26Q11'].isna() == True, 'ST26Q11'] = 'Missing'
df_student.loc[df_student['ST26Q12'].isna() == True, 'ST26Q12'] = 'Missing'


df_student.loc[df_student['ST26Q02'] == 'Invalid', 'ST26Q02'] = 'Missing'
df_student.loc[df_student['ST26Q03'] == 'Invalid', 'ST26Q03'] = 'Missing'
df_student.loc[df_student['ST26Q04'] == 'Invalid', 'ST26Q04'] = 'Missing'
df_student.loc[df_student['ST26Q05'] == 'Invalid', 'ST26Q05'] = 'Missing'
df_student.loc[df_student['ST26Q06'] == 'Invalid', 'ST26Q06'] = 'Missing'
df_student.loc[df_student['ST26Q07'] == 'Invalid', 'ST26Q07'] = 'Missing'
df_student.loc[df_student['ST26Q08'] == 'Invalid', 'ST26Q08'] = 'Missing'
df_student.loc[df_student['ST26Q09'] == 'Invalid', 'ST26Q09'] = 'Missing'
df_student.loc[df_student['ST26Q10'] == 'Invalid', 'ST26Q10'] = 'Missing'
df_student.loc[df_student['ST26Q11'] == 'Invalid', 'ST26Q11'] = 'Missing'
df_student.loc[df_student['ST26Q12'] == 'Invalid', 'ST26Q12'] = 'Missing'

In [9]:
# Replace NaN or 'Invalid' values for father/mother birth country to 'Missing', 
# which is already being used to represent missing information

df_student.loc[df_student['COBN_F'].isna() == True, 'COBN_F'] = 'Missing'
df_student.loc[df_student['COBN_M'].isna() == True, 'COBN_M'] = 'Missing'

df_student.loc[df_student['COBN_F'] == 'Invalid', 'COBN_F'] = 'Missing'
df_student.loc[df_student['COBN_M'] == 'Invalid', 'COBN_M'] = 'Missing'

In [10]:
# Replace NaN or 'Invalid' values for father/mother birth country to 'Missing', 
# which is already being used to represent missing information

df_student.loc[df_student['ST15Q01'].isna() == True, 'ST15Q01'] = 'NA'
df_student.loc[df_student['ST19Q01'].isna() == True, 'ST19Q01'] = 'NA'

df_student.loc[df_student['ST15Q01'] == 'Invalid', 'ST15Q01'] = 'NA'
df_student.loc[df_student['ST19Q01'] == 'Invalid', 'ST19Q01'] = 'NA'

In [11]:
# Replace the values with shorter values for father/mother job status

df_student.loc[df_student['ST15Q01'] == 'Other (e.g. home duties, retired) ', 'ST15Q01'] = 'Other'
df_student.loc[df_student['ST19Q01'] == 'Other (e.g. home duties, retired) ', 'ST19Q01'] = 'Other'

df_student.loc[df_student['ST15Q01'] == 'Working full-time <for pay> ', 'ST15Q01'] = 'Full-time'
df_student.loc[df_student['ST19Q01'] == 'Working full-time <for pay> ', 'ST19Q01'] = 'Full-time'

df_student.loc[df_student['ST15Q01'] == 'Working part-time <for pay>', 'ST15Q01'] = 'Part-time'
df_student.loc[df_student['ST19Q01'] == 'Working part-time <for pay>', 'ST19Q01'] = 'Part-time'

df_student.loc[df_student['ST15Q01'] == 'Not working, but looking for a job ', 'ST15Q01'] = 'Unemployed'
df_student.loc[df_student['ST19Q01'] == 'Not working, but looking for a job', 'ST19Q01'] = 'Unemployed'

In [12]:
df_student.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 485490 entries, 1 to 485490
Data columns (total 33 columns):
Country    485490 non-null object
Age        485490 non-null float64
Gender     485490 non-null object
ST26Q02    485490 non-null object
ST26Q03    485490 non-null object
ST26Q04    485490 non-null object
ST26Q05    485490 non-null object
ST26Q06    485490 non-null object
ST26Q07    485490 non-null object
ST26Q08    485490 non-null object
ST26Q09    485490 non-null object
ST26Q10    485490 non-null object
ST26Q11    485490 non-null object
ST26Q12    485490 non-null object
PV1MATH    485490 non-null float64
PV2MATH    485490 non-null float64
PV3MATH    485490 non-null float64
PV4MATH    485490 non-null float64
PV5MATH    485490 non-null float64
PV1READ    485490 non-null float64
PV2READ    485490 non-null float64
PV3READ    485490 non-null float64
PV4READ    485490 non-null float64
PV5READ    485490 non-null float64
PV1SCIE    485490 non-null float64
PV2SCIE    485490 non-null float64
PV3SCIE    485490 non-null float64
PV4SCIE    485490 non-null float64
PV5SCIE    485490 non-null float64
COBN_F     485490 non-null object
COBN_M     485490 non-null object
ST15Q01    485490 non-null object
ST19Q01    485490 non-null object
dtypes: float64(16), object(17)
memory usage: 125.9+ MB

In [13]:
# Check if there are any columns which still have unwrangled NA values
# If this function prints a column, it will also show the total number of NA values in the column, otherwise nothing will print
# The ideal case is that this function does not print anything, meaning there are no more NA values in our working dataset

for column in df_student.columns:
    if (df_student[column].isna().sum() > 0):
        print((column) + '  ' + str(df_student[column].isna().sum()))

Within the dataset, for each literacy subject, there are 5 plausible scores of performance recorded for a student. We will compute the actual score of the student by taking the average of the 5 plausible scores, as performed below:

In [14]:
# Compute the average of plausible scores determines the PISA score of a student in a particular subject

df_student['Maths Score'] = (df_student['PV1MATH'] + df_student['PV2MATH'] + df_student['PV3MATH'] + df_student['PV4MATH'] + df_student['PV5MATH']) / 5
df_student['Reading Score'] = (df_student['PV1READ'] + df_student['PV2READ'] + df_student['PV3READ'] + df_student['PV4READ'] + df_student['PV5READ']) / 5
df_student['Science Score'] = (df_student['PV1SCIE'] + df_student['PV2SCIE'] + df_student['PV3SCIE'] + df_student['PV4SCIE'] + df_student['PV5SCIE']) / 5

In [ ]:
# source: https://stackoverflow.com/questions/38313770/count-the-number-of-specific-values-in-a-pandas-dataframe
# Create Number of Possession column
df_student['Possessions'] = (df_student.iloc[:,3:13] == 'Yes').sum(axis=1)

In [ ]:
# Drop any further-unnecessary columns

df_student.drop(columns = ['ST26Q02', 'ST26Q03', 'ST26Q04', 'ST26Q05', 'ST26Q06',
                   'ST26Q07', 'ST26Q08', 'ST26Q09', 'ST26Q10', 'ST26Q11', 'ST26Q12',
                   'PV1MATH', 'PV2MATH', 'PV3MATH', 'PV4MATH', 'PV5MATH', 
                   'PV1READ', 'PV2READ', 'PV3READ', 'PV4READ', 'PV5READ',
                   'PV1SCIE', 'PV2SCIE', 'PV3SCIE', 'PV4SCIE', 'PV5SCIE'], inplace = True)

In [ ]:
# Rename columns appropriately

df_student.rename({'COBN_F' : 'Birth Country Father', 
                   'COBN_M' : 'Birth Country Mother'}, 
                  axis = 'columns', inplace = True)

In [ ]:
# Rename columns appropriately

df_student.rename({ 'ST19Q01' : 'Job_Status_Father',
                    'ST15Q01' : 'Job_Status_Mother'}, 
                  axis = 'columns', inplace = True)

In [ ]:
df_student.info()

Since we need to find out whether a student comes from a homogenous or heterogenous family background, we will perform feature engineering to create a variable which tells us this information.

In [ ]:
df_student['Parents - Same Cultural Background'] = (df_student['Birth Country Father'] == df_student['Birth Country Mother'])

In [ ]:
df_student.loc[df_student['Parents - Same Cultural Background'] == True, 'Parents - Same Cultural Background'] = 'Same'
df_student.loc[df_student['Parents - Same Cultural Background'] == False, 'Parents - Same Cultural Background'] = 'Different'

#### The final form of the wrangled working dataset looks as seen below:

In [ ]:
df_student.head()

In [ ]:
df_student.drop(columns = ['Birth Country Father','Birth Country Mother'], inplace = True)

In [ ]:
df_student.shape
df_student.info()

### Complete! Our dataset is looking good! :)

In [ ]:
df_student.to_pickle('pisa_2012_clean.pkl')